@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

.search-container {
    padding: 3.13rem 100px;
}

.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    padding: 0 27.875px;
}

.search-header h2 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
}

.buttonNavLink {
    text-decoration: none;
}

.search-ctabtn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.search-ctabtn span {
    color: var(--rose-700, #BE123C);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.search-ctabtn-icon {
    font-size: 0.85rem;
    line-height: normal;
    color: var(--rose-700, #BE123C);
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}